@model Weather.MVC.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Väder är kul!";
    ViewBag.Error = TempData["Error"] != null;
}

<div class="jumbotron">
    <h1>Vad blir det för väder?</h1>
    <p class="lead">Låt oss fråga YR.</p>
</div>

<div class="row">
    @Html.Partial("_FlashMessages")
    <div class="col-md-6">
        <h2>Välj ort</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.WeatherReport.Id)
            <div class="form-group">
                @Html.LabelFor(model => model.CityToFind, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CityToFind, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ange ort här..." } })
                    @Html.ValidationMessageFor(model => model.CityToFind, "", new { @class = "text-danger" })
                </div>
                <input type="submit" value="Sök" class="col-md-2 btn btn-default" />
            </div>
        }
        @if (Model != null && Model.Cities != null)
        {
            foreach (var city in Model.Cities)
            {
                <p>
                    @Html.ActionLink(String.Format("{0}, {1}, {2}", city.Name, city.Region, city.Country), null, new { geonameid = city.GeonameId, name = city.Name, region = city.Region, country = city.Country })
                </p>
            }
        }
    </div>
    <div class="col-md-offset-6 col-md-6"></div>
    <div class="clearfix col-md-6">
        @if (Model != null && Model.WeatherReport != null)
        {
            {
                var i = 0;
                foreach (var item in Model.WeatherReport.Forecasts)
                {
                <div>
                    @if (i == 0)
                    {
                        <h3>Idag</h3>
                    }
                    else if (i <= 3 && item.Period == 0)
                    {
                        <h3>Imorgon</h3>
                    } else if (item.Period == 0)
                    {
                        <h3>@item.TimeFrom.ToShortDateString()</h3>
                    }
                    <h4>@item.TimeFrom.ToShortTimeString() - @item.TimeTo.ToShortTimeString()</h4>
                    <p>
                        <div class="col-md-6">
                            Temperatur: @item.Temperature &#176;C
                        </div>
                        <div class="col-md-6">
                            <img src="http://api.yr.no/weatherapi/weathericon/1.1/?symbol=@item.Weather.GetHashCode();content_type=image/png" />
                        </div>
                    </p>
                </div>
                i = i + 1;
                }
            }
        }
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")